@import '../../../style/color';

.title {
    font-size: 24px;
    color: $black;
    text-transform: uppercase;
    margin-top: 24px;
    margin-bottom: 14px;
}

.line {
    width: 100%;
    border-bottom: 1px solid #D8D8D8;
}