$max-width: 1116px;
$max-width-full: 1282px;
$max-padding: 20px;
$max-padding-mid: 30px;
$max-padding-full: 56px;

$header_height : 60px;
$header_height-full : 76px;

$media-medium : 1600px;
$media-reg: 1000px;
$media-mid : 750px;
$media-phone : 540px;