@import './color';
@import './sizing';

body {
    // background-color: $blue-lighter;
    padding: 0;
    margin: 0;
    // font-family: "Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

* {
    box-sizing: border-box;
    font-size: 15px;
}

p {
    color: $black;
}

button {
    cursor: pointer;
    outline: none;
}

@media( max-width : $media-medium ) {
    * {
        font-size: 14px;
    }
}