@import '../../../style/color';
@import '../../../style/sizing';

@keyframes fade_in {
    from {
        transform: translate(-14px);
        opacity: 0;
    }
    to {
        transform: translate(0px);
        opacity: 1;
    }
}

.frame {
    width: 100%;
}

.base {
    display: grid;
    grid-template-columns: [t0] 180px [t1] 1fr [t2];
    column-gap: 16px;
    margin-bottom: 20px;
    
}

.wrapper {
    display: flex;
    a {
        text-decoration: none;
        width: calc(100% - 200px)
    }
}

.time {
    padding-bottom: 20px;
    color: $black; animation: fade_in .3s ease;
    animation-fill-mode: backwards;
}

.date {
    padding-bottom: 20px;
    position: sticky;
    top: $header_height + 20;
}

.start {
    color: $black-lightest;
    span {
        font-size: inherit;
        font-weight: 400;
    }
}
.flex {
    display: flex;
    align-items: center;
}
.until {
    margin-left: 6px;
    color: $line;
}
.card_time {
    display: none;
}
.end {
    margin-top: 2px;
    color: $black;
    font-size: 24px;
    font-weight: 800;
    span {
        font-size: inherit;
        font-weight: 400;
    }
}

.card {
    width: 100%;
    padding: 20px;
    padding-top: 0;
    background-color: white;
    border-radius: 20px;
    animation: fade_in .3s ease;
    animation-fill-mode: backwards;
    box-shadow: rgba(0, 0, 0, 0.070) 0px 2px 4px -1px;
}

@for $i from 1 to 21 {
    .frame:nth-child(#{$i}) {
        .time {
            animation-delay: $i * 0.1s;
        }
        .card {
            animation-delay: ($i + 1) * 0.1s;
        }
    }
}

.head {
    padding-top: 20px;
    background-color: white;
    position: sticky;
    top: $header_height;
}
.title {
    font-weight: 700;
    font-size: 20px;
    color: #2C73D2;
    a {
        font-size: inherit;
        color: inherit;
        text-decoration: none;
        svg {
            height: 19px !important;
        }
    }
}
.subTitle {
    margin-top: 8px;
    padding-top: 8px;
    padding-bottom: 5px;
    span {
        font-size: 14px;
        padding: 5px 6px;
        padding-top: 4px;
        border: 1px solid #eeeeee;
        border-radius: 5px;
        width: fit-content;
    }
}
.socket {
    margin-top: 15px;
    font-size: 14px;
}

.noteLink, .noteNoLink {
    margin-top: 18px;
    display: flex;
    height: 24px;
    .icon {
        height: 100%;
        width: 22px;
        background-color: #01C6B4;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .text {
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 11.5px;
        padding: 0px 10px;
        background-color: #01c6b480;
        color: black;
    }
}
.noteNoLink {
    .icon {
        background-color: #FF3F73;
    }
    .text {
        background-color: #ff3f7380;
    }
}

@media( max-width : $media-reg ) {
    .base {
        grid-template-columns: [t0] 140px [t1] 1fr [t2];
    }
}

@media( max-width : $media-mid ) {
    .base {
        grid-template-columns: [t0] 110px [t1] 1fr [t2];
    }
    .start {
        font-size: 12px;
    }
    .end {
        margin-right: 10px;
        margin-top: 5px;
        font-size: 28px;
        line-height: 1.25;
        span {
            font-size: 30px;
        }
    }
}
@media( max-width : $media-phone ) {
    .card {
        grid-column: t0 / t2;
    }
    .time {
        display: none;
    }
    .date {
        padding: 0;
        padding-bottom: 8px;
        display: flex;
        align-items: center;
        top: 0;
    }
    .head {
        top: 0px;
    }
    .card_time {
        display: block;
    }
    .until {
        display: inline;
        font-size: 12px;
        margin-left: 10px;
        color: $black-lightest;
    }
    .end {
        margin: 0;
        margin-left: 10px;
        font-size: 12px;
        font-weight: 400;
        color: $black-lightest;
        span {
            font-size: 12px;
        }
    }
}