@import '../../../style/color';
@import '../../../style/sizing';

$size : 13px;
.icon {
    width: $size;
    height: $size;
    border-radius: 4px;
    position: absolute;
    right: 16px;
    bottom: 16px;
    background-color: $black-lightest;
    -webkit-mask: url(/int-link.svg) no-repeat center;
    mask: url(/int-link.svg) no-repeat center;
}

.frame {
    position: relative;
    cursor: pointer;
    margin-bottom: 20px;
    padding: 20px 22px;
    padding-bottom: 22px;
    transition: all .3s ease;
    // background-color: #00000005;
    border: 1px solid #e0e0e0;
    // border: 1px solid $blue;
    border-radius: 8px;
    // box-shadow: rgba(0, 0, 0, 0.123) 0px 3px 10px -1px ;
    // box-shadow: rgba(0, 0, 0, 0.425) 0px 1px 4px -1px ;
    &:last-child {
        margin-bottom: 0px;
    }
    &:hover {
        border-color: $blue;
        box-shadow: rgba(0, 0, 0, 0.425) 0px 1px 4px -1px ;
        // box-shadow: rgba(0, 0, 0, 0.425) 0px 3px 8px -1px ;
        .icon {
            background-color: $blue;
        }
    }
    a {
        color: $black-lighter;
        text-decoration: none;
    }
}

.title {
    font-size: 18px;
    font-weight: 600;
}
.company {
    font-size: 14px;
    margin-top: 6px;
}
.date {
    font-size: 14px;
    margin-top: 6px;
    span {
        color: #00000085;
        &::before {
            content: "\00B7";
            margin: 0 5px;
        }
    }
}
.disclaimer {
    margin-top: 13px;
    margin-bottom: 4px;
    span {
        font-size: 14px;
        padding: 4px 8px;
        background-color: #ff000018;
        border-radius: 5px;
        color: #d40000;
    }
}


@media( max-width : $media-medium )  {
    .frame {
        border: 1px solid #e0e0e0;
        padding: 14px 16px;
        margin-bottom: 18px;
        padding-bottom: 16px;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0) 0px 1px 4px -1px ;
    }
    .title {
        font-size: 16px;
    }
    .disclaimer {
        margin-top: 13px;
        margin-bottom: 2px;
        span {
            font-size: 13px;
        }
    }
}

@media( max-width : $media-phone ) {
    .frame {
        padding: 14px 12px;
        margin-bottom: 18px;
    }
}