@import '../../../style/sizing';
@import '../../../style/color';

.bottom {
    display: none;
    background-color: $black;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    bottom: 0px;
    height: $header_height;
    &__link {
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        padding: 0 20px;
        a{
            font-size: 14px;
            color: #c8c8c8;
            padding: 3px 6px;
            border-radius: 5px;
        }
        div {
            position: absolute;
            width: 100%;
            height: 2px;
            z-index: -1;
            top: 0;
            left: 0;
            visibility: hidden;
            opacity: 0;
            background-color: $blue;
        }
    }
    .active {
        a { color: white; }
        div {
            visibility: visible;
            opacity: 1;
        }
    }
}

@media( max-width : 480px ) {
    .bottom { display: flex; }
}