@import '../../../style/color';
@import '../../../style/sizing';

$bg-color: #ffff;
$dot-color: $blue;

$dot-size: 1px;
$dot-space: 26px;
$gap: 70px;

.frame {
    background-color: white;
}

.background {
    background-color: #F7F8F8;
    padding-top: 200px;
    padding-bottom: 280px;
    width: inherit;
    height: inherit;
}

.grid {
    display: grid;
    width: 100%;
    grid-template-columns: [me0] 1fr [me1] 340px [me2];
}

.intro_right {
    grid-column: me1 / me2;
    display: flex;
    align-items: center;
}
.intro_left {
    grid-column: me0 / me1;
}
.slogan {
    font-size: 60px;
    padding-right: 70px;
    color: $black;
    margin-top: 0px;
    letter-spacing: -.02em;
    line-height: 1.15;
}
.summary {
    padding-right: 70px;
    line-height: 1.6;
    display: flex;
}
.text {
    width: 50%;
    padding: 0 20px;
    position: relative;
    &:last-child {
        padding-right: 0px;
    }
    &:first-child {
        padding-left: 0px;
    }
}
.resume {
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
    margin-top: 20px;
    width: 420px;
    position: absolute;
    background-color: white;
    padding: 20px 24px;
    transform: translate(-24px);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px -1px;
}

.email {
    display: flex;
    flex-direction: column;
    a {
        color: $black;
        font-weight: bold;
        font-size: 16px;
        text-decoration: none;
        svg {
            transform: translate(0px, 2px);
            margin-left: 1px;
        }
    }
    padding-right: 20px;
}
.drive {
    border-left: 1px solid #e0e0e0;
    padding-left: 20px;
    display: flex;
    align-items: center;
}


.pict {
    width: 340px;
    position: relative;;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 340px;
        background-color: black;
        top: 0;
        left: 0;
        transform: translate(16px, -8px);
    }
    img {
        position: absolute;
        z-index: 2;
        width: inherit;
        transform: translate(0px, 8px);
    }
}

.print {
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 0px;
    background-color: #03A678;
    color: white;
    font-weight: 500;
    letter-spacing: .02em;
    box-shadow: #03A678 0px 1px 7px -1px ;
}

@media( max-width : $media-medium ) {
    .slogan {
        margin-top: 14px;
        font-size: 48px;
    }
    .pict {
        &::before {
            transform: translate(0px, -8px);
        }
        img {
            transform: translate(-16px, 8px);
        }
    }
    .summary {
        padding-right: 80px;
    }

    .print {
        font-size: 14px;
    }
    .text {
        padding: 16px;
    }
    .resume {
        margin-top: 30px;
    }
}

@media( max-width : $media-reg ) {
    .grid {
        grid-template-columns: [me0] 1fr [me1] 300px [me2];
    }
    .slogan {
        font-size: 60px;
        padding-right: 0px;
        grid-column: me0 / me2;
    }
    .summary {
        flex-direction: column;
        padding-right: 50px;
    }
    .text {
        padding: 0px;
        width: 100%;
    }
    .resume {
        margin-top: 10px;
        width: 420px;
        padding: 18px 20px;
        transform: translate(0px);
    }
    .pict {
        width: 300px;
        &::before {
            height: 300px;
            transform: translate(0px, 0px);
        }
        img {
            transform: translate(-16px, 16px);
        }
    }
}

@media( max-width : $media-mid ) {
    .background {
        padding-top: 130px;
        padding-bottom: 160px;
    }
    .grid {
        grid-template-columns: [me0] 1fr [me1] 200px [me2];
    }
    .pict {
        width: 200px;
        &::before {
            height: 200px;
        }
    }
}

@media( max-width : $media-phone ) {
    .background {
        padding-top: 60px;
        padding-bottom: 120px;
    }
    .slogan {
        font-size: 38px;
        text-shadow: -3px 3px #03A678;
    }
    .intro_right, .intro_left {
        grid-column: me0 / me2;
        position: relative;
    }
    .intro_right {
        height: calc(100vw - 130px);
    }
    .pict {
        position: absolute;
        width: calc(100% + 40px);
        transform: translate(-20px);
        height: calc(100vw - 130px);
        overflow: hidden;
        &::before {
            display: none;
        }
        img {
            width: 100%;
            transform: translate(0px, -35px);
        }
    }
    .summary {
        padding-right: 0px;
        padding-top: 30px;
        p {
            &:first-child {
                margin-top: 0px;
            }
        }
    }
    .resume {
        padding: 10px 14px;
        width: calc(100% + 16px);
        transform: translate(-8px);
    }
    .email {
        padding-right: 10px;
        a {
            font-size: 14px;
        }
    }
    .drive {
        padding-left: 14px;
    }
}