@import '../../../style/color';

$bg-color: #ffff;
$dot-color: $blue;

$dot-size: 1px;
$dot-space: 26px;
$gap: 40px;

.me {
    width: 100%;
    margin: 100px 0;
    margin-bottom: 130px;
    display: grid;
    grid-template-columns: [me0] 200px [me1] 1fr [me2];
    &__pict {
        position: relative;
        img {
            position: absolute;
            height: 200px;
            z-index: 2;
        }
    }
    &__slogan {
        margin-left: $gap;
        font-size: 32px;
        font-weight: bold;
        color: $black;
        letter-spacing: -.020em;
        line-height: 1.2;
        width: 60%;
    }
    &__box {
        line-height: 1.6;
        max-width: 740px;
        margin-top: 20px;
        margin-left: 100px;
        margin-right: auto;
        grid-column: me0 / m02;
        padding: 30px;
        padding-left: 100px + $gap;
        padding-bottom: 50px;
        border: 1px solid #00000010;
        border-radius: 8px;
        background-color: $bg-color;
        background:
            linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
            linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
            $dot-color;
        background-size: $dot-space $dot-space;
        font-size: 14px;
        color: $black;
        a { color: $blue; }
    }
}

@media( max-width : 540px ) {
    $dot-color: #00000046;
    
    .me {
        margin-top: -10px;
        margin-bottom: 40px;
        &__pict img {
            height: 70px;
            border-radius: 50%;
            grid-column: me0 / m02;
            position: relative;
        }
        &__slogan {
            grid-column: me0 / m02;
            width: 100%;
            line-height: 1.1;
            margin: 2px 0;
            font-size: 38px;
            text-shadow: -3px 3px $blue;
        }
        &__box {
            padding-left: 30px;
            margin-left: -30px;
            padding-right: 20px;
            background-color: $bg-color;
            background:
                linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
                linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
                $dot-color;
            background-size: $dot-space $dot-space;
        }
    }
}