@import '../../../style/color';
@import '../../../style/sizing';

$bg-color: #ffff;
$dot-color: $blue;

$dot-size: 1px;
$dot-space: 26px;
$gap: 70px;

.me {
    width: 100%;
    margin: 80px 0;
    margin-bottom: 130px;
    display: grid;
    grid-template-columns: [me0] 280px [me1] 1fr [me2];
    &__pict {
        position: relative;
        img {
            position: absolute;
            height: 280px;
            z-index: 2;
            background-color: $black-lightest;
        }
    }
    &__slogan {
        margin-left: $gap;
        font-size: 48px;
        font-weight: bold;
        color: $black;
        letter-spacing: -.020em;
        line-height: 1.2;
        width: 70%;
    }
    &__box {
        line-height: 1.6;
        max-width: 940px;
        margin-top: 40px;
        margin-left: 140px;
        margin-right: auto;
        grid-column: me0 / m02;
        padding: 50px 70px;
        padding-left: 140px + $gap;
        padding-bottom: 70px;
        border: 1px solid #00000010;
        border-radius: 8px;
        background-color: $bg-color;
        background:
        linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
        linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
        $dot-color;
        background-size: $dot-space $dot-space;
        color: $black;
        white-space: pre-line;
        a { color: $blue; }
    }
}

@media( max-width : $media-medium ) {
    $gap: 40px;

    .me {
        grid-template-columns: [me0] 200px [me1] 1fr [me2];
        &__pict img {
            height: 200px;
        }
        &__slogan {
            margin-left: $gap;
            width: 60%;
            font-size: 32px;
        }
        &__box {
            margin-top: 20px;
            padding: 30px 50px;
            max-width: 760px;
            margin-left: 100px;
            padding-left: 100px + $gap;
            padding-bottom: 50px;
        }
    }
}

@media( max-width : $media-phone ) {
    $dot-color: #00000046;
    
    .me {
        margin-top: -10px;
        margin-bottom: 40px;
        &__pict img {
            height: 70px;
            border-radius: 50%;
            grid-column: me0 / m02;
            position: relative;
            margin-bottom: 6px;
        }
        &__slogan {
            grid-column: me0 / m02;
            width: 100%;
            line-height: 1.1;
            margin: 2px 0;
            font-size: 38px;
            text-shadow: -3px 3px $blue;
        }
        &__box {
            padding-left: 30px;
            margin-left: -30px;
            padding-right: 20px;
            background-color: $bg-color;
            background:
                linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
                linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
                $dot-color;
            background-size: $dot-space $dot-space;
        }
    }
}