@import '../../../style/color';
@import '../../../style/sizing';

.base {
    background-color: #F7F8F8;
    padding-bottom: 80px;
    // padding-top: 40px;
    color: $black;
}
.center {
    display: grid;
    grid-template-columns: [c0] 1fr [c1] 1fr [c2];
    column-gap: 20px;
}
.card {
    max-width: 400px;
    grid-column: c0 / c1;
    a {
        color: $blue;
    }
}
.title {
    font-size: 36px;
    margin: 0px;
}
.detail {
    margin-bottom: 20px;
    line-height: 1.6;
}
.socket {
    position: relative;
    margin-top: 15px;
    width: calc(100% - 20px);
    background-color: #eeeeee;
    border-radius: 20px;
}
.line {
    margin-top: 20px;
    width: 100%;
    height: 20px;
    border-top: 1px solid #e0e0e0;
}
.dummy {
    width: 20px;
    border-radius: 0 16px 0 20px;
    height: calc(100% - 40px);
    background-color: white;
}
.cards {
    position: absolute;
    top: 40px;
    left: 20px;
    width: 100%;
    display: flex;
}

@media( max-width : $media-reg ) {
    .center {
        grid-template-columns: [c0] calc(100% / 2 - 70px) [c1] 1fr [c2];
    }
}

@media( max-width : $media-mid ) {
    .title, .card, .socket {
        grid-column: c0 / c2;
    }
    .socket {
        padding: 0;
        margin-top: 30px;
        height: 140px;
    }
}

@media( max-width : $media-phone ) {
    .base {
        padding-bottom: 60px;
    }
    .title, .card, .socket {
        padding: 0 20px;
    }
    .socket {
        padding: 0;
        height: 140px;
        border-radius: 0 20px 20px 0;
        width: calc(100% - 34px);
    }
    .dummy {
        border-radius: 0 16px 0 0;
    }
}