@import '../../../style/color';
@import '../../../style/sizing';

.card, .card__detailed {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    width: 100%;
    margin-left: 20px;
    color: $black;
    padding: 18px 20px;
    border: 1px solid #efefef;
    position: relative;
    background-color: white;
    a { text-decoration: none; }
    .name, .degree, .time{
        color: $black-lighter;
        // font-size: 14px;
    }
    // .name { font-weight: bolder; }
    .time, .degree {margin-top: 10px;}
    .degree {
        font-size: 15px;
        line-height: 1.6;
    }
    .dot_socket {
        position: absolute;
        width: 100%;
        z-index: 2;
        top: 0;
        left: 0;
        transform: translate(0, -24px);
        display: flex;
        justify-content: center;
        .dot {
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: #efefef;
        }
    }
    .icon {
        position: absolute;
        right: 14px;
        bottom: 14px;
        svg {
            width: 16px;
            color: $black-lighter;
        }
        display: none;
    }
}

.card__detailed {
    cursor: pointer;
    transition: all .3s ease;
    border-color: #e0e0e0;
    .name { font-weight: bolder; }
    .icon {
        display: flex;
    }
    &:hover {
        border-color: $blue;
        box-shadow: rgba(0, 0, 0, 0.425) 0px 1px 4px -1px ;
        .icon svg{
            color: $blue;
        }
    }
    .dot_socket .dot {
        transform: translate(0, -9px);
        width: 25px;
        height: 25px;
        background: rgb(0,231,23);
        background: linear-gradient(132deg, rgba(0,231,23,1) 0%, rgba(0,121,255,1) 100%);
    }
}

@media( max-width : $media-medium ) {
    .card, .card__detailed {
        padding: 12px 14px;
        .degree {
            font-size: 13px;
        }
    }
}

@media( max-width : $media-phone ) {
    .card, .card__detailed {
        margin-left: 10px;
    }
}