@import '../../../style/sizing';

.template {
    &__wrapper {
        max-width: $max-width;
        margin: 0 auto;
        padding: 0 $max-padding;
        padding-top: 22px;
    }
}
@media( max-width : 540px ) {
    .template__wrapper { padding-bottom: $header_height;}
}